@model Product

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
        <div class="card shadow-sm">
            <img src="@Model.PathPicture">

            <div class="card-body">
                <h4>@Model.Name</h4>
                <p class="card-text">@Model.Description</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a type="button" class="btn btn-primary"
                           asp-controller="Admin"
                           asp-action="EditProduct"
                           asp-route-id="@Model.Id"
                        >Редактировать</a>
                    </div>
                    <small class="text-muted">@Model.Cost р.</small>
                </div>
            </div>
        </div>
    </div>
</div>
