@model UserViewModel
<div class="row">
    <div class="col">
        <p>ID @Model.IdUser</p>
        <p>Имя @Model.Name</p>
        <p>Логин @Model.Login</p>
        <p>Тел @Model.Telephone</p>
        <p>Почта @Model.Email</p>
        <p>Пароль@Model.Password</p>
    </div>
</div>