@model User

<div class="row">
    <div class="card mb-3" style="max-width: 700px;">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Карточка пользователя</h5>
                    <p class="card-text">Имя: @Model.Name</p>
                    <p class="card-text">Логин: @Model.Login</p>
                    @* <p class="card-text">Пароль: @Model.Password</p> *@
                    <p class="card-text">Телефон: @Model.Telephone</p>
                    <p class="card-text">Почта: @Model.Email</p>
                </div>
            </div>
        </div>
    </div>
</div>
