@@ -0,0 +1,12 @@
@model User

<div class="row">
	<div class="col">
		<p><span class="text-secondary">Id:</span> @Model.IdUser</p>
		<p><span class="text-secondary">Имя:</span> @Model.Name</p>
		<p><span class="text-secondary">Логин:</span> @Model.Login</p>
		<p><span class="text-secondary">Пароль:</span> @Model.Password</p>
		<p><span class="text-secondary">Телефон:</span> @Model.Telephone</p>
		<p><span class="text-secondary">Email:</span> @Model.Email</p>
	</div>
</div>