@model List<User>

<div>
    <h1>Список Пользователей</h1>

</div>
<form asp-controller="User" asp-action="Search" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Поиск по имени" name="name">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Найти</button>
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Логин</th>
            <th>Телефон</th>
            <th>Почта</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.IdUser</td>
                <td>@user.Name</td>
                <td>@user.Login</td>
                <td>@user.Telephone</td>
                <td>@user.Email</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-area="" asp-controller="User" asp-action="Index" asp-route-id="@user.IdUser">Подробнее</a>
                </td>
            </tr>
        }
    </tbody>
</table>



